<div class="product-img" style="background-image: url({{ object.image.url }}); height: 200px; width: 200px"></div>
<div class="product-data">
    <div class="name-product">{{ object.name }}</div>
    <div class="product-cal">{{ object.nutritional_value }} ккал</div>
    <div class="product-price"> {{ object.price }} руб.</div>
    <label for="id_{{ form.menu_positions.name }}_{{ obj.id }}">
        <input type="checkbox" name="{{ form.menu_positions.name }}" value="{{ obj.id }}">Подтвердить заказ
    </label>
</div>
