<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if object_list %}
        {% if total_price %}
            <p>Total price: {{ total_price }}</p>
        {% endif %}
        {% for object in object_list %}
            <p>{{ object.name }}</p>
            <p>{{ object.nutritional_value }}</p>
            <p>{{ object.price }}</p>
            <p></p>
            <img src="{{ object.image.url }}" alt="{{ object.name }}">
            <p>================</p>
        {% endfor %}
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        {% endif %}
    {% endif %}
</body>
</html>